:root {
  --btn-color: rgb(174, 60, 60);
  --btn-border-radius: 4rem;
  --btn-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: brown;
}

main {
  display: flex;
  min-height: 100%;
  max-width: 100%;
  flex-direction: column;
}

.footprints-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("./background/main-background.png");
  background-size: 15%;
  background-position: right 2rem;
  opacity: 0.4;
  z-index: -1;
}

main h1 {
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
}
