:root {
  --btn-color: rgb(174, 60, 60);
  --btn-border-radius: 4rem;
  --btn-height: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: brown;
}

main {
  display: flex;
  min-height: 100vh;
  max-width: 100vw;
}

.footprints-background {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("./background/main-background.png");
  background-size: 15%;
  background-position: right 2rem;
  opacity: 0.4;
  z-index: -1;
}

main h1 {
  text-align: center;
  color: white;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
}

.random-michis,
.favorite-michis {
  width: 50%;
  margin: 0 1rem;
}

article {
  background-color: white;
  border-radius: 3rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
}

.save-favourite-btn {
  margin: 1rem;
  width: 40%;
  background-color: var(--btn-color);
  border-style: none;
  color: white;
  border-radius: var(--btn-border-radius);
  height: var(--btn-height);
}

.load-random-mishis-btn {
  width: 20%;
  background-color: var(--btn-color);
  border-style: none;
  color: white;
  border-radius: var(--btn-border-radius);
  height: var(--btn-height);
  align-self: center;
  margin: 0 40%;
}

.save-favourite-btn:hover,
.load-random-mishis-btn:hover {
  background-color: rgb(159, 50, 50);
  transition: background-color 0.5s;
  cursor: pointer;
}

img {
  width: 65%;
  height: 70%;
  margin: 1rem;
  border-radius: 2rem;
}

.default-favourite {
  background-color: rgb(121, 49, 49);
  opacity: 0.4;
  border-radius: 2rem;
  height: 30rem;
  width: 45rem;
  margin: 1rem;
  transition: opacity 2s;
}

.default-favourite img {
  margin: 20%;
}

.default-favourite:hover {
  opacity: 1;
  transition: opacity 2s;
}
