:root {
  --main-bg-color: #212121;
  --main-opacity: 0.96;
  --main-font-color: aliceblue;
  --main-bg-border-radius: 1rem;
}

a {
  all: unset;
}

main {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.intro-section {
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
  opacity: var(var(--main-opacity));
  margin: 1rem auto;
  padding: 1rem;
  width: 95%;
  height: 10rem;
  text-align: center;
  border-radius: var(--main-bg-border-radius);
  font-size: medium;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  width: 98%;
  color: var(--main-font-color);
  background-color: rgba(33, 33, 33, var(--main-opacity));
  border-radius: var(--main-bg-border-radius);
}

.projects-container {
  display: flex;
  flex-direction: column;
}

.project-card {
  transition: 0.5s;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  background-color: var(--main-bg-color);
  border-radius: var(--main-bg-border-radius);
}

.project-card img {
  width: 95%;
}

.project-card a {
  cursor: pointer;
}

@media (min-width: 600px) {
  .projects-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .project-card:hover {
    transition: 1.5s;
    transform: translateY(-5px);
  }
}
