*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header
{
    height: 20vh;
    background-image: url("header-background.png");
    background-size: 100% 100%;
    color:#FF4655;
    border-style: solid;
    border-width: 0.3rem 0rem;
}

header h1{
    position: absolute;
    padding: 0.2rem;
    border-style: solid;
}

.logo img{
    padding-left:2rem;
    height: 3rem;
    width: 20rem;
}

.logo h1{
    margin-left:2.6rem;
    font-style: italic;
    font-size: 3rem;
    color:#FF4655;
}

body
{
    height:70vh;
}

main
{
    height:100%;
    width:100vw;
    display:flex;
    background-color:#201226;
}

.main-section{
    padding-left: 50px;
    padding-top: 10px;
    width: 100%;
    min-width: 80%;
    font-size: large;
    color:crimson;
    background-color:#fbf9f1;
    text-shadow:1px 1px black;
}

aside{
    background-image: url("minimalist-valorant-logo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity:0.2;
    width:15%;
}

footer
{
    color:#FF4655;
    border-style: solid;
    border-width: 0.3rem 0rem;
    background:linear-gradient(#361A28,#852937);
    height:10vh;
}

footer p{
    color:aliceblue;
    text-align: center;
}
