* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  min-height: 15vh;
  background: linear-gradient(rgb(44, 41, 41), black);
}

footer {
  color: aliceblue;
  min-height: 15vh;
  background: linear-gradient(rgb(44, 41, 41), black);
}

main {
  max-width: 100%;
}

@media (min-width: 150px) {
  .titles {
    display: flex;
    flex-direction: row;
  }

  .web-title {
    width: 100%;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    font-size: 3rem;
    font-family: "Audiowide", serif;
    font-weight: 400;
    color: aliceblue;
    font-style: normal;
  }

  .sub-title {
    text-align: right;
    font-size: 3rem;
    width: 100%;
    margin-right: 2rem;
    color: aliceblue;
  }

  header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  header li,
  a {
    text-decoration: none;
    margin: 0.5rem;
    display: inline;
    color: aliceblue;
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .titles {
    display: flex;
    flex-direction: row;
  }

  .web-title {
    font-size: 4rem;
  }

  .sub-title {
    font-size: 3rem;
    text-align: right;
  }

  header li,
  a {
    font-size: large;
  }
}

@media (min-width: 800px) {
  .web-title {
    font-size: 5rem;
  }

  .sub-title {
    font-size: 4rem;
  }

  header nav {
    position: absolute;
  }
}
