@media (min-width: 1024px) {
  aside .genre-list label {
    min-width: 15rem;
  }

  .movies {
    width: 90vw;
    margin: 0 auto;
  }

  .movies-art-container figure {
    max-width: 100%;
    max-height: 90rem;
    margin: 1rem;
  }
}
