@media (min-width: 1024px) {
  aside .genre-list label {
    min-width: 15rem;
  }

  aside h2 {
    font-size: large;
  }

  .movies {
    width: 90vw;
    margin: 0 auto;
  }

  .movies p {
    font-size: medium;
  }

  .movies h2 {
    font-size: large;
  }

  .media .movies-art-container img {
    height: 30rem;
    width: 20rem;
  }
}
