@media (min-width: 1024px) {
  aside .genre-list label {
    min-width: 15rem;
  }

  aside h2 {
    font-size: large;
  }

  .movies {
    width: 90vw;
    margin: 0 auto;
  }

  .movies p {
    font-size: medium;
  }

  .movies h2 {
    font-size: large;
  }

  .movies-art-container figure {
    width: 40rem;
    height: 45rem;
    margin: 3rem;
  }
}
