@media (min-width: 600px) {
  .search input {
    height: 2.5rem;
    width: 55%;
    border-radius: 0.4rem;
  }

  aside .genre-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  aside .genre-list label {
    min-width: 8rem;
  }

  /*---Movies---*/
  /*---Top Movie---*/

  .top-movie article {
    display: flex;
    flex-direction: row;
  }

  .top-movie img {
    width: 45rem;
    height: 50rem;
  }

  /*---Movie List---*/

  .media .movies-art-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .movie-details-content {
    display: flex;
  }

  .movie-details-content #movieDetailsImg {
    display: inline;
    width: 40%;
    border-radius: 0.5rem;
  }
}
