body {
  background-color: #d8a7e0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.waifu-mode {
  border-style: solid;
  border-color: rgb(151, 45, 45);
  background-color: rgb(201, 69, 124);
  margin-top: 2rem;
  height: 3rem;
  width: 10rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  font-size: small;
  color: aliceblue;
}

.waifu-categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: rgb(201, 69, 76);
  width: 100%;
  min-height: 3rem;
}

.waifu-category {
  margin: 0.1rem;
  border-radius: 3rem;
  border-color: rgb(113, 36, 36);
  background-color: rgb(150, 41, 46);
  height: 60%;
  width: 6.5rem;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  font-size: small;
  color: aliceblue;
}

.sub-container {
  width: 90vw;
  margin: 0 auto;
  background-color: rgb(243, 126, 153);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container img {
  border-radius: 2rem;
  margin: 2rem;
  height: 90%;
  width: 90%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.reload-btn {
  margin: 1rem;
  border-radius: 1rem;
  border-color: rgb(113, 36, 36);
  background-color: rgb(201, 69, 124);
  height: 0%;
  width: 13rem;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  font-size: small;
  color: aliceblue;
}
