:root {
  --btn-color: rgb(174, 60, 60);
  --btn-border-radius: 4rem;
  --btn-height: 4rem;
}

@media (min-width: 150px) {
  main {
    display: flex;
    flex-direction: column;
  }

  body {
    background-color: brown;
  }

  .footprints-background {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../background/main-background.png");
    background-size: 15%;
    background-position: right 2rem;
    opacity: 0.4;
    z-index: -1;
  }

  main h1 {
    text-align: center;
    color: white;
    font-size: 4rem;
    font-family: "Dancing Script", cursive;
  }

  .random-michis,
  .favourite-michis,
  .upload-michi {
    height: 50%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  input {
    margin: 1rem;
  }

  article,
  form {
    position: static;
    background-color: white;
    border-radius: 3rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 70%;
    justify-content: center;
    opacity: 0.85;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(83, 24, 24);
  }

  .option-btn {
    margin: 1rem;
    width: 60%;
    background-color: var(--btn-color);
    border-style: none;
    color: white;
    border-radius: var(--btn-border-radius);
    height: var(--btn-height);
  }

  .load-random-mishis-btn {
    width: 25%;
    background-color: var(--btn-color);
    border-style: none;
    color: white;
    border-radius: var(--btn-border-radius);
    height: var(--btn-height);
    align-self: center;
  }

  .option-btn:hover,
  .load-random-mishis-btn:hover {
    background-color: rgb(159, 50, 50);
    transition: background-color 0.5s;
    cursor: pointer;
  }

  img {
    min-width: 85%;
    min-height: 70%;
    max-height: 60%;
    max-width: 95%;
    max-height: 80%;
    margin: 0.5rem;
    border-radius: 2rem;
  }

  .default-favourite {
    background-color: rgb(121, 49, 49);
    opacity: 0.4;
    border-radius: 2rem;
    height: 30rem;
    width: 45rem;
    margin: 1rem;
    transition: opacity 2s;
  }

  .default-favourite img {
    margin: 20%;
  }

  .default-favourite:hover {
    opacity: 1;
    transition: opacity 2s;
  }
}
